h1 {

    display: block;
    font-size: 28px;
    color: white;
    background-color: black;
    text-align: center;

}

.cell    {

    display: table-cell;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	color: #fff;

}

.cell2    {

    display: table-cell;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	color: black;

}

.headtext {

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.header {

    display: block;
	float: left;
	width: 100%;
    background-color: black;

}

.row {
    
	display: table-row;
		
}

.body {

    display: block;
	float: left;
	width: 100%;
    background-color: #787878;
    padding: 10px;
    padding-left: 10px;

}

img {

    display: block;

}

.button {

    display: table-cell;
	padding-bottom: 5px;
	padding-right: 5px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;

}

.CopyBtn{

    display: table-cell;
	padding-bottom: 5px;
	padding-right: 5px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;

}

.CopyNotes{
    
    display: table-cell;
	padding-bottom: 5px;
	padding-right: 5px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;

}

.column {
    float: left;
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.displayNone {
    display: none;
}